header {
    height: 70px; 
    width: 100%; 
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
}

header.head {
    margin-left: 20px;
    background-image: url(../image/icon.png);
    background-repeat: no-repeat;
    background-position: 20px 50%;
}